*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    /*Colores de la interfaz*/
    --MsOscuro: #000080;
    --MsClaro: #0080BF;
}
.app{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:'header header'
                        'aside  main';
    grid-template-columns: 120px 1fr;
    grid-template-rows: 60px 1fr;
    
}
.logoMS{
    width: 60px;
}
aside{
    grid-area: aside;
    display: flex;
    flex: 1;
    background-color: var(--MsOscuro);
    padding-top: 50px;
}
header{
    grid-area: header;
    background-color: var(--MsOscuro);
    padding-left: 30px;
}
main{
    grid-area: main;
    padding: 1rem;
}

ul li{
    background-color: var(--MsOscuro);
    line-height: 1.6;
    font-weight: bold; 
    color: white;
    padding: 5px;
    border: none;
    width: 120px;
}
ul li:hover{
    background-color: var(--MsClaro);
}
ul li:active{
    color: black;
}